header{
    color: white;
    text-align: center;
    background-color: #79B42B;
    padding: 1px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
nav {
    background-color: #333;
    width: 100%;
}

nav button {
    background-color: #333;
    text-align: center;
    padding: 14px;
    border-width: 0px;
    color: white;
}

nav button:hover{
    color: #b9b9b9;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

.welcome{
    text-align: center;
    margin-top: 13%;
}
.welcome h2{
    font-size: 40px;
}
.welcome button{
    margin-top: 30px;
    background-color: #79B42B;
}

#map {
    height: 400px;
    width: 100%;
}

#pelicu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#aux{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
#user{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#aux2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.atras{
    background-color: red;
}

.peli{
    width: 200px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin: 10px;
    overflow: auto;
}

.peli img{
    width: 200px;
    height: 300px;
}


.peli button{
    width: 100%;
    height: 50px;
    background-color: #79B42B;
    color: white;
    font-size: .9em;
    font-weight: 500;
}

.peli button:hover{
    color: #b9b9b9;
}

.form {
    background-color: #FFF;
    padding-bottom: 40px;
    padding-top: 35px;
    margin: 0 auto;
    margin-top: auto;
    text-align: center;
}

.boton {
    background-color: #333;
    text-align: center;
    padding: 14px;
    border-width: 0px;
    color: white;
}

.boton:hover{
    color: #b9b9b9;
}

.login-form input:focus, .login-form input:active {
    border-bottom: 2px solid #79B42B;
    outline: none;
}
.subbt:hover {
    background-color: #79b42b;
}
.subbt {
    text-shadow: 0 1px 0 rgba(122, 122, 122, 0.85);
    background-color: #79b42b;
    margin-top: 15px;
    color: #FFF;
    padding: 10px;
    cursor: pointer;
    font-size: .9em;
    width: 50%;
    font-weight: 700;
    font-style: normal;
}

.guardar{
    font-weight: 700;
}

.reset {
    text-shadow: 0 1px 0 rgba(122, 122, 122, 0.85);
    background-color: #dddddd;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: .9em;
    width: 50%;
    font-weight: 700;
    font-style: normal;
}

.login-form input{
    width: 50%;
    border: 1px solid #dddddd;
    padding: 0.7em;
    margin-bottom: 15px;
}
.login-form select{
    width: 50%;
    border: 1px solid #dddddd;
    padding: 0.7em;
    margin-bottom: 10px;
}

.login-form select:focus, .login-form select:active , .login-form select::selection{
    border-bottom: 2px solid #79B42B;
    outline: none;
}

.login-form{
    text-align: center;
    margin-bottom: 5px;
}

#xml{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button{
    background-color: #333;
    text-align: center;
    padding: 14px;
    border-width: 0px;
    color: white;
    cursor: pointer;
}
button:hover{
    color: #b9b9b9;
}

#crea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#carr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hambcarr{
    display: flex;
    width: 25%;
    overflow: auto;
    border: 1px solid black;
    min-width: 20%;
    margin-bottom: 15px;
}
.hambcarr p{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
    margin-left: 15px;
    text-align: justify;
}
.hambcarr button{
    margin: 0px;
    width: 100%;
}

.hamb{
    display: flex;
    width: 50%;
    margin: 30px;
    border: 1px solid black;
    overflow: auto;
}

.imagen{
    order: 1;
    height: 100px;
    width: 100px;
}

.hamb p{
    margin-left: 5px;
}
.segundo{
    order: 2;
}
.tercero{
    order: 3;
}
.cuarto{
    order: 4;
}

.preciototal{
    background-color: azure;
}

.factu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.factu p{
    text-align: center;
}
